@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* Global, reset & typography */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
textarea {
  display: block;
  cursor: pointer;
  font: inherit;
  transition: 0.3s;
  color: #333;
  padding: 8px;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #d4d4d4;
  background-color: #fff;
  width: 100%;
}

textarea {
  resize: none;
}

ul,
ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--cs-headers)!important;
}

:root {
  --main-font: "Rubik", sans-serif;

  /* ## Colors */
  --cs-main-bg: #dfdfdf;
  --cs-base: #333;

  --cs-elements-bg: #999;
  --cs-elements-text: #444;
  --cs-cards-bg: #fff;
  --cs-headers: #555;
  --cs-text: #555;
  --cs-buttons: green;
  --cs-highlight: hsla(0, 0%, 20%, 0.3);
}

:root .dark {

  /* Colors */
  --cs-main-bg: #333;
  --cs-base: #dfdfdf;

  --cs-elements-bg: #999;
  --cs-elements-text: #222;
  --cs-cards-bg: #555;
  --cs-headers: #e4e4e4;
  --cs-text: #e4e4e4;
  --cs-buttons: pink;
  --cs-highlight: hsla(0, 0%, 87%, 0.3);
}

html {
  font-family: var(--main-font);
  font-size: 10px;
}

body {
  position: relative;
  display: grid;
  min-height: 100svh;
  min-height: 100vh;
  background-color: var(--cs-main-bg);
}

html,
body {
  /* overflow-x: hidden; */
  min-width: 30rem;
}

/* Utility classes */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.loader {
  width: 4rem;
  height: 4rem;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }

.error-msg {
  padding: 1rem;
  min-width: 10rem;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.311);
  color: var(--cs-base);
  border-radius: 1rem;
}