@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* Global, reset & typography */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
textarea {
  cursor: pointer;
  font: inherit;
  transition: 0.3s;
  border: 1px solid lightgray;
}

ul,
ol {
  list-style: none;
}

:root {
  --main-font: "Rubik", sans-serif;

  /* ## Colors */
  --cs-main-bg: #dfdfdf;
  --cs-base: #333;
}

html {
  font-family: var(--main-font);
  font-size: 10px;
}

body {
  position: relative;
  display: grid;
  min-height: 100svh;
  min-height: 100vh;
  background-color: var(--cs-main-bg);
}

html,
body {
  /* overflow-x: hidden; */
  min-width: 30rem;
}

/* Utility classes */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}