.edit-recipe-wrap {
  display: grid;
  gap: .5rem;
  grid-template-rows: 5rem 5rem 1fr;
  max-width: 70rem;
  margin: 2rem auto;
  color: var(--cs-text);
  padding: 0 2rem;
}

.edit-form-error,
.edit-form-loading {
  place-self: center;
}

.edit-form-wrapper {
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 60rem;
}

.edit-recipe-heading {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.edit-recipe-form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  min-width: 55rem;
  margin: 0 auto;
}

.edit-recipe-form input,
.edit-recipe-form textarea {
  background-color: var(--cs-elements-bg);
  color: var(--cs-elements-text);
  border: 1px solid transparent;
}

.edit-label {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.3rem;
}

.edit-recipe-input-helper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.edit-recipe-input-helper .ingredients-helper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.ingredients-helper > .btn {
  max-width: 10rem;
}

.ingredients-helper > input {
  max-width: 20rem;
}

.ingredients-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--cs-highlight);
  max-width: max-content;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.1rem;
}

.edit-cig-label {
  font-size: 1.2rem;
  margin-right: 1.5rem;
}

.ingredient-helper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ingredient-remove {
  max-width: .9rem;
  cursor: pointer;
  transition: .3s;
}

.ingredient-remove:hover {
  transform: rotate(20deg);
}

.dark .ingredient-remove {
  filter: invert(10%);
}

.edit-recipe-submit {
  max-width: 15rem;
  margin: 0 auto;
  font-size: 1.3rem;
  font-weight: 500;
}

@media screen and (max-width: 725px) {

  .edit-recipe-wrap {
    grid-template-rows: max-content max-content 1fr;
  }

  .edit-form-wrapper,
  .edit-recipe-form {
    min-width: unset;
  }

  .edit-cig-label {
    margin-bottom: 1rem;
  }

  .ingredients-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem
  }
}