.edit-recipe-wrap {
  max-width: 1200px;
  margin: 40px auto;
}

.edit-recipe-heading {
    margin-bottom: 2rem;
}

.edit-recipe-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ingredients-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ingredient-helper {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.ingredient-remove {
  max-width: 1rem;
  cursor: pointer;
}