.signup-page {
    margin: 1rem auto;
    max-width: 60rem;
    color: var(--cs-text);
}

.signup-page h1 {
    margin-bottom: 2rem;
    color: var(--cs-headers);
}

.signup-page form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
    align-items: center;
}

.signup-input {
    background-color: var(--cs-elements-bg);
    color: var(--cs-elements-text);
    margin-top: .5rem;
    border: 1px solid transparent;
}

.btn-signup {
    max-width: 8rem;
    font-weight: 500;
}

.signup-info-box {
    background-color: var(--cs-highlight);
    color: var(--cs-base);
    margin-bottom: 2rem;
    max-width: max-content;
    padding: 1rem;
    border-radius: 1rem;
}

.login-box {
    margin-top: 4rem;
}

.login-link {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 8rem;
    text-align: center;
    color: var(--cs-base);
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--cs-elements-bg);
    padding: 1rem;
    border-radius: 1rem;
}

.login-link:hover {
    filter: brightness(110%);
}

/* .dark .signup-page {
    color: #e4e4e4;
} */