.recipe-details-page {
  display: grid;
  grid-template-rows: 5rem 5rem 1fr;
  gap: .5rem;
}

.details-error-msg,
.details-loading-msg {
  place-self: center;
}

.recipe-details-wrap {
  grid-row: 3/4;
  max-width: 50rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  margin: 10px auto;
  text-align: center;
  background: var(--cs-cards-bg);
  color: var(--cs-text);
  padding: 3rem;
  border-radius: 1rem;
  font-size: 1.7rem;
}

.recipe-details-title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}


.recipe-details-wrap ul {
  display: flex;
  align-items: center;
  gap: .5rem;
  background-color: var(--cs-highlight);
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 2rem;
  font-size: 1.4rem;
}

.recipe-details-wrap li::after {
  content: ",";
}

.recipe-details-wrap li:last-child::after {
  content: ".";
}
