.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    width: 100%;
}

.logo {
    color: white;
    font-weight: 500;
    font-size: 2rem;
}

.auth-helper {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-link {
    font-size: 1.3rem;
    color: white;
    padding: .5rem;
    border: 1px solid white;
    border-radius: .5rem;
    transition: .3s;
    min-width: max-content;
}

.nav-link:hover, .nav-link:focus-visible {
    background-color: white;
    color: black;
}

#logout-btn, #delete-btn {
    font-weight: 500;
    min-width: max-content;
}

#logout-btn:hover,
#delete-btn:hover {
    background-color: transparent;
    color: white;
}