.user-recipes-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    max-width: 1200px;
    place-self: center;
  }
  
  /* dark mode */
  /* .user-recipes-list .card.dark {
    background: #555;
  }
  .user-recipes-list .card.dark p,
  .user-recipes-list .card.dark h3,
  .user-recipes-list .card.dark div {
    color: #e4e4e4;
  } */